[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
youtube-dl = "*"
you-get = "*"
requests = "*"
objectpath = "*"
streamlink = "*"
python-magic = "*"
tzcron = "*"
pytz = "*"

[requires]
python_version = "3.8"
